<h1><%= @book.title %></h1>

<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <% [:author, :genre, :series, :year].each do |attr_name| %>
        <tr>
            <td><%= attr_name %></td>
            <td><%= @book.send(attr_name) %></td>
        </tr>
    <% end %>
</table>

<% shelf_array = @book.shelf_id << current_user.shelf_id %>

    <form action="<%= book_url(@book) %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="book[shelf_id]" value="<%= shelf_array %>">
        <input type="submit" value="Add to my shelf!">
    </form>

    <form action="<%= edit_book_url(@book) %>" method="post">
        <input type="hidden" name="_method" value="get">
        <input type="submit" value="Edit Book Details">
    </form>