<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <a href="<%= books_url %>">Books</a>

  <% if current_user.nil? %>
    <a href="<%= new_session_url %>">Sign in</a>
    <a href="<%= new_user_url %>">Sign up</a>
  <% else %>
    <ul>
      <li>Logged in as: <%= current_user.username %></li>
      <li>
        <form action=<%= "/session" %> method='post'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" value="delete" name="_method" />
          <input type="submit" value="Logout">
          </form>
      </li>
    </ul>
  <% end %>


  <body>
    <%= yield %>
  </body>



</html>
